<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fypmock">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhgWx9emnv6sRKzW3G34Uf6MkWrTaPMJU" />
        <meta-data
            android:name="es.situm.maps.API_USER"
            android:value="p19011503@student.newinti.edu.my" />
        <meta-data
            android:name="es.situm.maps.API_KEY"
            android:value="791bb3e3a8856145aed74aae9e138e8c1d45289fe7584b63c60ae60802c426c1" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/reset_password"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfileActivity"
            android:label="Profile"
            android:parentActivityName=".Menu"/>
        <activity android:name=".ModifyProfileActivity"
            android:label="Modify Profile" />
        <activity
            android:name=".AddFavPoi"
            android:label="Add Favourite" />
        <activity
            android:name=".FavouritePoiActivity"
            android:label="Favourite POIs"
            android:parentActivityName=".Test" />
        <activity
            android:name=".Map"
            android:label="Map"
            android:parentActivityName=".Test" />
        <activity
            android:name=".SelectPoi"
            android:label="@string/plan_route"
            android:parentActivityName=".SelectPoi" />
        <activity
            android:name=".AddPoi"
            android:label="@string/addPoi" />
        <activity
            android:name=".DisplayPoiOrder"
            android:label="@string/order_of_poi" />
        <activity
            android:name=".MapWithRoute"
            android:label="Preview Map"/>
        <activity
            android:name=".Navigation"
            android:label="AnimatePositionActivity"
            android:parentActivityName=".Test" />
        <activity
            android:name=".Test2"
            android:parentActivityName=".Test" />
        <activity android:name=".Test" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PositioningActivity"
            android:parentActivityName=".Test"
            android:theme="@style/AppTheme" />
    </application>

</manifest>